:root {
    --accent-colour: #004BCE;
    --secondary-colour: #5f99ff;
    --light-grey: #eee;
    --border-tint: #0002;
    --border-tint-dark: #0008;
}
/* * {
    outline: 1px solid #0002;
} */
body {
    margin: 0;
    padding: 0;
    font: 16px/1.5 system-ui, 'Helvetica Neue', Arial, sans-serif;
    color: #222;
}
.wrapper,
main {
    max-width: 640px;
    margin: 0 auto;
}
main {
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.footer {
    font-size: 0.875rem;
}
a {
  cursor: pointer;
}
button, input, textarea {
    padding: 0.5rem 1rem;
    font-family: inherit;
    border: none;
    font-size: 16px;
}
button {
    background-color: var(--accent-colour);
    color: white;
    font-weight: bold;
}
input {
    border: 1px solid var(--border-tint-dark)
}