:root {
    --accent-colour: #004BCE;
    --secondary-colour: #5f99ff

}
body {
    margin: 0;
    padding: 0;
    font: 16px/1.5 system-ui, 'Helvetica Neue', Arial, sans-serif;
    color: #222;
}
header .hero,
.wrapper {
    max-width: 640px;
    margin: 0 auto;
}
main {
    padding: 0 2rem;
    margin: 3rem auto;
    max-width: 640px;
}
header {
    color: white;
    background: var(--accent-colour);
}
header .hero {
    padding: 3rem 2rem;
}
p.lead {
    font-size: 21px;
}
article, 
aside {
    margin: 3rem 0;
}
.footer {
    font-size: 0.875rem;
}
a {
  cursor: pointer;
}
button, input, textarea {
    padding: 0.5rem 1rem;
    font-family: inherit;
    border: none;
    font-size: 16px;
}
button {
    background-color: var(--accent-colour);
    color: white;
    font-weight: bold;
}
input {
    border: 1px solid #0008
}
/* * {
    outline: 1px solid #0002;
} */