 body {
    margin: 0;
    padding: 0;
    font: 14px/1.5 system-ui, 'Helvetica Neue', Arial, sans-serif;
    color: #222;
}
header .hero,
.wrapper,
section aside {
    max-width: 520px;
    margin: 0 auto;
}
.wrapper,
section aside,
main {
    padding: 0 2rem;
}
main {
    margin: 3rem auto;
    max-width: 520px;
}
header {
    color: white;
    background: #004BCE;
}
header .hero {
    padding: 3rem 2rem;
}
p.lead {
    font-size: 21px;
}
article, 
aside {
    margin: 3rem 0;
}
.footer {
    font-size: 0.875rem;
}
a {
  cursor: pointer;
}
